<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <center><h1>Welcome</h1></center>
    <h1>hi {{NAME}}</h1>
    <p>here is your four digit otp</p><h3>{{OTP}}</h3>
</body>
</html>